#weatherApp,
html {
  background-color: #f9f7fe;
}
#weatherApp {
  padding: 60px;
}
.container {
  max-width: 775px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 10px;
}
form {
  margin: 0px auto;
}
input {
  width: 500px;
  margin: 0 5px 0 20px;
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  height: 50px;
  padding: 0 10px 0 20px;
  outline: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 15px;
  transition: all 200ms ease-in-out;
}
#search {
  width: 180px;
  background-color: #885df1;
  color: #ffffff;
  padding: 8px;
  border: 1px solid #885df1;
  height: 50px;
  border-radius: 5px;
  transition: all 0ms ease-in-out;
}
button:hover {
  cursor: pointer;
}
input:hover {
  outline: 2px ridge #885df1;
}
h1 {
  margin: 60px 0px 10px 20px;
}
ul {
  color: rgba(39, 33, 66, 0.4);
  list-style: none;
  font-size: 15px;
  padding: 0;
  margin: 0px 0px 10px 20px;
}
#currentLocation {
  margin: 40px 0px 40px 20px;
  width: 180px;
  background-color: #2a6ae0;
  color: #ffffff;
  padding: 2px;
  border: none;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
#currentTemp {
  margin: 60px 20px 0 0;
  text-align: right;
  font-size: 60px;
  font-weight: 500;
}
#units {
  position: relative;
  font-size: 16px;
  top: -32px;
  font-weight: 400;
}
#units a {
  text-decoration: none;
}
#units .active:hover {
  color: black;
}
#codedBy {
  color: rgba(39, 33, 66, 0.4);
  font-size: 12px;
  text-align: center;
  margin: 45px;
}
#humidity,
#wind {
  color: red;
}
#description {
  text-transform: capitalize;
}
.active {
  color: black;
  cursor: default;
}
#forecast {
  margin: 40px 0;
}
.forecastW {
  text-align: center;
}
.forecastDay {
  color: rgba(39, 33, 66, 0.4);
}
.forecastTemp {
  font-size: 17px;
  font-weight: 600;
}
.forecastMaxTemp {
  color: rgb(231, 37, 37);
}

.forecastMinTemp {
  color: rgb(175, 104, 104);
}
.forecastIcon img {
  display: block;
  margin: 0 auto;
}
